body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    background: #1F2937;
}

.header .container{
    margin: 0px 200px;
    display: flex;
    justify-content:space-between;
}


.header #logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header .list{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    align-items: center;
    gap: 16px;
}

a{
    color: #E5E7EB;
    text-decoration: none;
}


.section1 {
    background-color: #1F2937;
}

.section1 .container {
    margin: 0px 200px;
    height: 400px;
    display: flex;
    gap: 40px;
}

.section1 .left {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.section1 .right {
    flex: 1 1 0;
}

.section1 .left .title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.section1 .left .text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.section1 .left .button {
    font-size: 18px;
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 0px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.section1 .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1 .right .text{
    background-color: #E5E7EB;
    color: black;
    text-align: center;
    height: 240px;
    line-height: 240px;
}

.section2 {
    background-color: white;
}

.section2 .title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 60px;
}

.section2 .container {
    margin: 40px 240px;
    display: flex;
    justify-content: center;
}

.section2 .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section2 .info .text{
    color: #1F2937;
    font-size: 14px;
}

.section2 .box{
    outline: 2px solid #3882F6;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.section3 {
    background: #E5E7EB;
    padding: 80px 200px;
}

.section3 .quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.section3 .text{
    font-size: 24px;
    color: black;
    font-weight: 900;
    text-align: right;
}

.section4 {
    background: white;
}

.section4 .container {
    margin: 100px 200px;
    height: 160px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.section4 .container .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.section4 .title {
    margin: 0;
    font-size: 24px;
    color: white;
}

.section4 .text {
    margin: 0;
    color: white;
}

.section4 .container .right {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.section4 .button {
    padding: 10px 40px;
    background-color: #3882F6;
    color: white;
    border:2px solid white ;
    border-radius: 10px;
    font-size: 16px;
    align-self: center;
}

.footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .text{
    color: white;
    text-align: center;
}
